# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://prisma:heyhihello@localhost:3306/learnopedia_db"
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT=565
EMAIL_USERNAME=example@gmail.com
EMAIL_PASSWORD=example_password
CAPTCHA_SECRET_TEST="0x0000000000000000000000000000000000000000"
CAPTCHA_SECRET="0x0000000000000000000000000000000000000000"

NEXT_PUBLIC_CAPTCHA_SITE_KEY="10000000-ffff-ffff-ffff-000000000001"
NEXT_PUBLIC_CAPTCHA_SITE_KEY_TEST="10000000-ffff-ffff-ffff-000000000001"

