.hideButton {
    background: none;
    border: none;
    padding: 0;
}

.hideButton:hover{
    text-decoration: underline;
}

.details {
    font-size: 0.9em;
    padding-left: 2em;
}

.main{
    max-width: 70em;
    min-width: 50vw;
    width: available;
    margin: 0 auto;
}

.criteria{
    font-size: 1.4em;
    margin: 0 auto;
}

.criteria td{
    padding: 0.4em;
}

.main button{
    border-radius: 10px;
    padding: 0.2em 1em;
    margin: 0.2em;
    background-color: lightgrey;
}

.main button:hover{
    background-color: #727986;
}

.main button:disabled:hover{
    background-color: lightgrey;
}

.submit{
    font-size: 1.4em;
    float: right;
}

.modifyButton{
    margin-top: 0.4em;
    margin-right: 0.6em !important;
    background-color: #dcdcdc;
    border-radius: 4px;
}

.modifyButton:hover{
    background-color: #cbcbcb;
}

.modifyButton:disabled{
    opacity: 60%;
    background-color: white;
}

.keyword:disabled{
    text-decoration: line-through
}

.center{
    text-align: center;
    width: fit-content;
    margin: 0 auto;
}

.progressBarParent{
    width: 100%;
    height: 1em;
    background-color: grey;
    border-radius: 5px;
}

.progressBarParent div{
    height: inherit;
    background-color: green;
    border-radius: 5px;
}

.lessonPart{
    font-size: 1.3em;
}

.votesTable td{
    padding-right: 15px;
    padding-bottom: 5px;
}

.video{
    width: 100%;
    height: 25em;
}

.image{
    width: 100%;
    max-height: 35em;
    display: flex;
}

.image img{
    margin: 0 auto;
}