.profile{
    display: flex;
    flex-direction: column;
}

.banner{
    width: inherit;
    display: flex;
    height: 20em;
    padding-top: 5em;
}

.banner .imageContainer{
    margin: 0 auto;
    width: 20em;
    height: 20em;
    border-radius: 9999px;
    background: white;
    outline: 20px solid white;
    overflow: hidden;
}

.banner img{
    border-radius: 9999px;
}

.banner img::after{
    background-color: white;
}

.details{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.userMod{
    max-height: 2.6em;
    margin-bottom: 1.5em;
    margin-right: 2em;
    display: inline-flex;
    flex-wrap: nowrap;
    width: fit-content;
}

.userMod label{
    min-width: 7em;
    padding: 0.5em;
}

.userMod input{
    padding: 0.5em;
}

.userMod input:disabled{
    background: none;
    border: 1px solid transparent;
}

.userMod button{
    display: block;
    border: 2px solid gray;
    height: inherit;
    background: none;
    border-radius: 5px;
}

.zone{
    margin: 2em 3vw 0;
    padding: 2vw;
    display: flex;
    flex-direction: column;
}

.smallZone{
    box-shadow: 4px 4px gray;
    min-height: 11.5em;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    margin: 0em 1.5em 1em;
    border: 1px solid black;
    border-radius: 3px;
}

.smallZone .userMod{
    margin-right: 0.5em;
}

.smallZone .submit{
    font-size: 1.25em;
    width: fit-content;
    margin: 0.5em auto;
    background-color: rgba(255, 165, 0, 0.63);
    border-radius: 10px;
    border: 2px solid gray;
}

.smallZone.del svg{
    height: 6em;
    width: 6em;
    margin: auto;
}

.save{
    margin: 1em auto 0em;
    background: none;
    font-size: 1.5em;
    padding: 0.2em 0.5em;
    border-radius: 10px;
}

.verticalCenter{
    margin: auto 0;
    display: flex;
    flex-direction: column;
}